<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .page a {
            padding: 5px 8px;
            border: 1px solid #ff8200;
            text-decoration: none;
            margin: 5px;
        }
        
        .page a.active {
            background-color: #ff8200;
            color: #fff;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for='items in showUsers' :key='items.id'>{{items.name}}</li>
        </ul>
        <!-- 如果属性没有使用v-bind，那么传入的值就只有字符串 -->
        <k-pagination :total='users.length' :pre-page='prePage' :page.sync='uPage'>
            <span slot="header">友情赞助</span>
            <template v-slot:footer='props'>
                <span>共{{props.pages}}页，当前第{{props.page}}页</span>
            </template>
        </k-pagination>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        /**
         * 组件 -> 插槽
         * 
         * */
        Vue.component('k-pagination', {
            props: ['total', 'page', 'prePage'],
            data() {
                return {
                    pages: Math.ceil(this.total / this.prePage)
                }
            },
            template: `<div class="page">
                            <slot name='header'></slot>
                            <a href="" @click.prevent='prev()'>上一页</a>
                            <a href="" 
                               v-for='p in pages' 
                               :class='{"active":p === page}'
                               @click.prevent='gotoPage(p)'
                             >{{p}}</a>
                            <a href="" @click.prevent='next()'>下一页</a>
                            <slot name='footer' :pages='pages' :page='page'></slot>
                       </div>`,
            methods: {
                gotoPage(p) {
                    this.$emit('update:page', p);
                },
                prev() {
                    this.$emit('update:page', this.page - 1);
                },
                next() {
                    this.$emit('update:page', this.page + 1);
                }
            }
        });

        let app = new Vue({
            el: '#app',
            data: {
                users: [{
                    id: 1,
                    name: 'BBH',
                    gender: '男'
                }, {
                    id: 2,
                    name: 'PCY',
                    gender: '男'
                }, {
                    id: 3,
                    name: 'SEHUN',
                    gender: '男'
                }, {
                    id: 4,
                    name: 'KAI',
                    gender: '男'
                }, {
                    id: 5,
                    name: 'DO',
                    gender: '女'
                }, {
                    id: 6,
                    name: 'SOHO',
                    gender: '女'
                }, {
                    id: 7,
                    name: 'LAY',
                    gender: '男'
                }, {
                    id: 8,
                    name: 'XIUMIN',
                    gender: '女'
                }],
                uPage: 1,
                prePage: 2,
            },
            computed: {
                showUsers() {
                    let start = (this.uPage - 1) * this.prePage;
                    return this.users.slice(start, start + this.prePage);
                }
            }
        })
    </script>
</body>

</html>